<div class="profile">
  <div class="content" id="search">
  <!--<h1>Welcome to <strong>Find Your 'Lators</strong></h1>-->

  <!--# explanation of the site, what it does, how they can use it-->

  <!--<p>Please enter the location for which you would like to <strong>Find Your 'Lators</strong></p>-->


  <%= form_tag('/locations/search', method: "get") do |f| %>
      <% if @error %>
          <%= @error %>
      <% end %>

      <div class="field">
        <%= label_tag "Enter an Address:" %><br>
        <%= text_field_tag :address %>
      </div>

      <div class="actions">
        <%= submit_tag "Find 'Em" %>
      </div>
  <% end %>
</div>
</div>





