<!DOCTYPE html>
<html>
<head>
  <title>Sunlight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <%= render "shared/nav" %>
</div>

<%= yield %>

</body>

</html>
